LayrCakeEA_API/02_StaticModel/LayrCake.StaticModel/Service References/ActionServiceReference/LayrCake.ActionService.Messages.MessageBase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LayrCake.ActionService.Messages.MessageBase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LayrCake.ActionService.Messages.MessageBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LayrCake.ActionService.DataTransferObjects.Implementation" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Action" type="tns:PersistType" />
      <xs:element minOccurs="0" name="ClientTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetByPrimaryKey" type="xs:int" />
      <xs:element minOccurs="0" name="LoadOptions" type="tns:ServiceLoadOptions" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LayrCake.ActionService.DataTransferObjects.Implementation" minOccurs="0" name="UserCredentials" nillable="true" type="q1:UserCredentialDto" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:simpleType name="PersistType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Read" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="ReadAll" />
      <xs:enumeration value="ReadDeleted" />
      <xs:enumeration value="DeleteFull" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PersistType" nillable="true" type="tns:PersistType" />
  <xs:simpleType name="ServiceLoadOptions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Single" />
      <xs:enumeration value="List" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceLoadOptions" nillable="true" type="tns:ServiceLoadOptions" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acknowledge" type="tns:AcknowledgeType" />
      <xs:element minOccurs="0" name="Build" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrelationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCodes" type="xs:int" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowsAffected" type="xs:int" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:simpleType name="AcknowledgeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Failure" />
      <xs:enumeration value="Success" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AcknowledgeType" nillable="true" type="tns:AcknowledgeType" />
</xs:schema>