LayrCakeEA_API/02_StaticModel/LayrCake.StaticModel/Service References/ActionServiceReference/LayrCake.ActionService.Criteria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LayrCake.ActionService.Criteria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LayrCake.ActionService.Criteria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Criteria" />
  <xs:complexType name="Criteria">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infrastructure.Criteria" minOccurs="0" name="Pagination" nillable="true" type="q1:Pagination" />
      <xs:element minOccurs="0" name="SortExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhereCondition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhereExpression" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Criteria" nillable="true" type="tns:Criteria" />
</xs:schema>